
# e2e
/e2e/*.js
/e2e/*.map


#node_modules
/node_modules/

#services
/services/favicon.ico
/services/main.ts
/services/polyfills.ts
/services/tests.ts
/services/tsconfig.app.json
/services/tsconfig.spec.json
/services/typings.d.ts

#others
.angular-cli.json
.editorconfig
karma.conf.js
protractor.conf.js
tsconfig.json

#app

/app/enviroments/*

