<h1>
{{title}}
</h1>
    <div class="container">
      <div [hidden]="submitted">
        
        <form (ngSubmit)="onSubmit()">   
          <div id='origen'>
            <label>Parada Origen</label>
            <select>
              <option *ngFor="let pw of route |async;" [value]="pw.name">{{pw.name}}</option>
            </select>
          </div>
                    <div id='Destino'>
            <label>Parada Destino</label>
            <select>
              <option *ngFor="let pw of route |async;" [value]="pw.name">{{pw.name}}</option>
            </select>
          </div>
          <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>

        </form>
      </div>
    </div>