<!--The whole content below can be removed with the new code.-->
<app-nav-bar></app-nav-bar>
<div>
  <h1>
    {{title}}
  </h1>
  <ul>
    <li *ngFor='let route of routes|async;'(click)="OnSelect(route._id)">
      {{route.name}}
    </li>
  </ul>
  <p>Resultados del del click arriba dado:</p>
  <table>
    <tr>
      <th>Nombre</th>
      <th>Disponible para bajar</th>
      <th>Disponible para subir</th>
      <th>Ciudad</th>
    </tr>    
    <tr *ngFor='let stop of stops_detail|async;'>
    <td>{{stop.name}}</td>
    <td>{{stop.to_get_on}}</td>
    <td>{{stop.to_get_off}}</td>
    <td>{{stop.region_name}}</td>
    </tr>
  </table>
</div>